<!--Using the user model-->
{{#with model as |user|}}
  <div class="row">
    <div class="col-xs-6">
      Profile
    </div>
    <div class="col-xs-6">
      Username: {{user.username}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">Employees</div>
  </div>
  {{#each model.employees as |employee|}}
    <div class="employee">
      {{employee.name}}  {{#link-to "employees.employee" 'abcde' model=employee}}view{{/link-to}}
    </div>
  {{/each}}
{{/with}}
